extends layout

block content
	h3= title
	form#form_del_profile(name="delprofile", method="post", action="/deleteprofile")
		span Tag
		span &nbsp;
		input#input_tag(type="text", placeholder="tag", name="tag")
		br
		br
		button#submit_profile(type="submit") submit
